section {
  /* position: inherit; */
  position: relative;
  width: 100%;
  height: 35vh;
  overflow: hidden;
  background-color: #000200;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 9.4rem 0 0 0;
}

section h2 {
  color: transparent;
  font-weight: 900;
  font-size: 8em;
  -webkit-text-stroke: 2px #cfa031;
  text-transform: uppercase;
}

section .star {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  animation: animate 8s ease-in-out infinite, backgroundmove 16s linear infinite;
}

section .star.star-1 {
  animation-delay: 0s;
  background: url(./assets/star1.png);
}

section .star.star-2 {
  animation-delay: -1s;
  background: url(./assets/star2.png);
}

section .star.star-3 {
  animation-delay: -2s;
  background: url(./assets/star3.png);
}

section .star.star-4 {
  animation-delay: -3s;
  background: url(./assets/star4.png);
}

section .star.star-5 {
  animation-delay: -4s;
  background: url(./assets/star5.png);
}

section .star.star-6 {
  animation-delay: -5s;
  background: url(./assets/star6.png);
}

section .star.star-7 {
  animation-delay: -6s;
  background: url(./assets/star7.png);
}

section .star.star-8 {
  animation-delay: -7s;
  background: url(./assets/star8.png);
}

@keyframes animate {
  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    opacity: 0;
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    opacity: 1;
  }
}

@keyframes backgroundmove {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(2);
  }
}

@media (max-width: 940px) {
  section h2 {
    font-size: 6em;
  }
}

@media (max-width: 900px) {
  section {
    height: 25vh;
  }
  section h2 {
    font-size: 3em;
  }
}
